<form method="post" id="form_relatorio">
  {% csrf_token %}
  <div class="row">
    <div class="col s6">
      <h5>Rango de Fechas</h5>
      <div class="row">
        <div class="input-field col s6">
          <input type="text" class="datepicker" id="date_start" name="date_start">
          <label for="date_start">Fecha de Inicio</label>
        </div>
        <div class="input-field col s6">
          <input type="text" class="datepicker" id="date_end" name="date_end">
          <label for="date_end">Fecha de Término</label>
        </div>
      </div>
    </div>
    <div class="col s12">
      <h5>Consultores</h5>
      <div class="row">
        <div class="col s12">
          <select multiple id="consultants" name="consultants" >
            <option value="" disabled selected>Seleccionar</option>
            {% for usuario in usuarios %}
              <option value="{{ usuario.co_usuario }}">{{ usuario.no_usuario }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="col s12">
      {% include 'buttons.html' %}
    </div>
  </div>
</form>
